.seats_card{
    width: 100%;
    margin-top: 60px;
}
.seats_card .seats_row{
    padding: 0;
}
.seats_card .seats_row .row_content{
    justify-content: space-between;
}
.seats_card .row_block:not(:first-child){
    margin-right: 42px;
    justify-content: flex-start;
}
.coach_number_block{
    background-color: #FFD98F;
    color: #292929;
    font-size: 24px;
    font-weight: normal;
    padding: 20px 45px;
    box-sizing: border-box;
    text-align: center;
    min-width: 190px;
}
.coach_number_block .coach_number{
    font-size: 72px;
    font-weight: 600;
}
.seats_card p.seats_count{
    font-size: 18px;
    color: #928F94;
    margin-bottom: 21px;
}
p.seats_count .count{
    color: #000;
}
.seats_card p.seats_type{
    font-size: 24px;
    color: #000;
    margin-bottom: 24px;
}
.seats_card p.seats_type .count{
    font-size: 24px;
    font-weight: 600;
}
p.seats_type img{
    width: 14px;
    height: 17px;
    margin-left: 10px;
}
.grey{
    color: #c4c4c4;
    margin-left: 13px;
}
.seats_card .stuff_list{
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.seats_card .stuff_item{
    display: flex;
    align-items: center;
    padding: 7px;
    border: 1px solid #292929;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    width: 37px;
    height: 37px;
}
.seats_card .stuff_item path{
    fill: #292929;
}
.seats_card .stuff_item:not(.included,.nothing):hover{
    background-color: #FFA800;
}
.seats_card .stuff_item[title]:hover:after{
    content: attr(title);
    position: absolute;
    top: 120%;
    left: -20%;
    padding: 5px;
    background: #E5E5E5;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #292929;
}
.seats_card .coach_map .row_content{
    justify-content: center;
}
.row_content:has(> .map_skeleton){
    position: relative;
}
.map_skeleton{
    position: absolute;
    top: 28px;
    left: 15.4%;
    display: flex;
    width: 716px;
    flex-wrap: wrap;
}
.skeleton_item{
    font-size: 14px;
    font-weight: bold;
    padding: 7px 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    width: 27.5px;
    text-align: center;

}
.available_false{
    background-color: #c4c4c4;
}
.seats_block{
    display: grid;
    grid-template-rows: 30px 29px;
    justify-content: space-between;
    width: 88px;
    height: 60px;
    margin-right: 1.5px;
    grid-auto-flow: column;
}

.seats_block .skeleton_item:nth-child(1){
    border-left: 1px solid #999999;
}
.seats_block .skeleton_item:nth-child(2){
    border-left: 1px solid #999999;
}
.seats_block .skeleton_item:nth-child(3){
    border-right: 1px solid #999999;
}
.seats_block .skeleton_item:nth-child(4){
    border-right: 1px solid #999999;
}
.skeleton_item:nth-child(3n).available_false{
    border-right: 1px solid #999999;

}
.skeleton_item.first{
    height: 100%;
}
.seats_block:has(> .third):nth-child(n + 9){
    width: calc(88px * 2);
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    align-items: center;
}
.seats_block:has(> .third):nth-child(n + 9) .third{
    width: 44px;
    border: none;
}
.seats_block div.skeleton_item.fourth{
    border: none;
    padding: 7px 4px;
}
.seats_block:has(> .fourth){
    height: 45px;
}
.seats_block:has(> .fourth){
    margin-top: 6px;
}
.seats_block:has(> .first){
    grid-template-rows: none;
}
.seats_block:has(> .first) .first:nth-child(odd){
    border: none;
    border-left: 1px solid #999999;
}
.seats_block:has(> .first) .first:nth-child(even){
    border: none;
    border-right: 1px solid #999999;
}
.seats_block:has(> .fourth):nth-child(n + 9){
    margin-top: 16px;
}
.fourth_map{
    height: 165px;
    width: 100%;
}
.active_seat{
    border: 2px solid #FFA800!important;
}
.seats_card .active_stuff{
    background-color: #FDB935;
    border: none;
}
.seats_card .active_stuff path{
    fill: #fff;
}
.seats_card .included{
    background-color: #FCDC9D;
    border: none;
    cursor: not-allowed;
}
.seats_card .included path{
    fill: #928F94;
}
.seats_card .nothing{
    cursor: not-allowed;
}