.sidebar_name{
    text-align: center;
    margin-bottom: 0 !important;
}
.sidebar_date{
    font-size: 18px;
    margin-left: 18px;
    margin-top: 8px;
    color: #fff;
    font-weight: 400;
}
.details_wrapper{
    justify-content: space-between;
    position: relative;
}
.block_name svg{
    margin-right: 12px;
}
.passengers_sidebar .train_name_p{
    font-size: 18px;
    color: #e5e5e5;
}
.passengers_sidebar .ticket_date{
    color: #fff;
}
.passengers_sidebar .ticket_data{
    color: #928F94;
    font-size: 18px;
    margin: 0;
}
.passengers_sidebar .ticket_city{
    color: #fff;
    margin-bottom: 0 !important;
}
.passengers_sidebar .ticket_stantion{
    margin-top: 0;
    width: 130px;
}
.passengers_sidebar .duration_time{
    margin-bottom: 5px;
}
.details_duration{
    position: absolute;
    top: -15px;
    left: 45%;
    text-align: center;
}
.details_block{
    width: fit-content;
}
.details_block.right{
    text-align: right;
}
.passengers_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #e5e5e5;
}
.passengers_row p{
    margin: 0;
}
.passengers_row:first-child{
    margin-top: 30px;
    margin-bottom: 15px;
}
.passenger_price{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.passengers_row img{
    margin-left: 7px;
}
.result_price{
    cursor: initial;
}
.result_price .block_name{
    justify-content: space-around;
    text-transform: uppercase;
}
.result_price_value{
    color: #FFA800;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
.passengers_sidebar .name_wrapper{
    cursor: inherit;
}