.header-wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../img/LPHeaderBg.png');
    background-size: cover;
    background-position: center;
    border-bottom: #FFA800 solid 8px;
}
.header-nav{
    width: 100vw;
    background-color: #292929;
    padding: 25px;
    box-sizing: border-box;
}
.header-nav ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
    width: 1450px;
}
.header-nav li{
    margin-right: 83px;
}
.header-nav a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
}

.header-content{
    width: 1450px;
    display: flex;
    margin-top: 253px;
}
.header-column{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content h1{
    font-size: 72px;
    font-weight: 100;
    color: #fff;
}
.header-content h1 span{
    font-weight: 600;
}