.tickets{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tickets_info{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.tickets_info p {
    margin: 0;
    font-size: 18px;
    color: #928F94;
}
.sort{
    color: #928F94;
    display: flex;
    width: 245px;
}
.sort ul{
    margin: 0;
    padding-left: 7px;
    list-style: none;
    position: relative;
}
.active_ul{
    background: #F7F5F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0px 7px 0 7px;
}
.active_ul .sort_item{
    display: block;
}
.sort_item{
    display: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.active_sort{
    color: #292929;
    display: block;
}
.sort_settings{
    display: flex;
}
.number_item {
    cursor: pointer;
}
.active_sort_number{
    color: #292929;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.page_count{
    width: 85px;
    height: 75px;
    font-size: 30px;
    font-weight: 600;
    margin: 0 15px;
    color: #928F94;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.page_count_preactive{
    border: 2px solid #FFA800;
    color: #FFA800
}
.page_count_active{
    background-color: #FFA800;
    color: #FFF;
    border: none;
}